@charset "UTF-8";

.dialog-container {
	height: 500px;
	width: 400px;
	margin-left: 200px;
	position: fixed;
	background-color: gray;
	overflow-x: hidden;
}

.dialog-reply-container {
	flex: 1;
	width: 380px;
	margin-top:10px;
	margin-left: 10px;
	background-color: red;

}

.dialog-reply-message {
	flex-wrap: wrap;
}

.message-container {
	width: 400px;
	margin-top: 530px;
	margin-left: 200px;
	border: 2px solid blue;

}

.participants-container {
	height: 500px;
	width: 200px;
	margin-top: 80px;
	margin-left:5px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
}

/* Side navigation participants list */
.participants-container p {
	 color: white;
	 padding: 16px;
	 text-decoration: none;
	 display: block;
}

/* Change color on hover */
.participants-container p:hover {
	 background-color: #ddd;
	 color: black;
}


